.sidebar{
    position: fixed;
    left: 0;
    top: 55px;
    bottom: 0;
    background-color: white;
    width: 70px;
    z-index: 100;
    padding-top: 10px;
}
.sidebar-link{
    height: 76px;
    background-color: white;
    display: flex;
    margin-top:1px ;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
    

}
.sidebar-link:hover{
    background-color: rgb(231, 228, 228);
}
.sidebar-img{
    height: 24px;
    padding-top: 15px;

}
.sidebar-name{
    font-family: roboto,arial;
    font-size:10px ;
    margin-top: 5px;
}